extends ../node_modules/jade-bootstrap/_bootstrap.jade
block body
  +navbar("test", "dropdown_menu")
    +nav_item("/") Index
    +nav_item("/test") Test
  .col-xs-12.col-sm-6.col-lg-8
    table.table.table-bordered
      tbody
        each t, i in json.items
          tr
            td
              a(href=t.url) #{t.title}
          tr
            td
              !{t.description}
          tr
            td
              - if (i == 6)
                - break;
  .col-xs-6.col-lg-4
    - if (!user)
      +a-btn-primary("/auth/google") Google login
    - else
      p
        Logged in as #{user.google.name}
      p
      p= "Send message using the name from your login"
      form(action='/comment', method='post')
        p="Message"
        input(type="text", name="comment")
        p
        input(type="submit", value="Send")
    br
    br
    table.table.table-bordered
      each t, i in comments
        tbody
          tr
            td= t.author
            td= t.date
          tr
            td= t.comment
