extends ../node_modules/jade-bootstrap/_bootstrap.jade
block body
  +navbar("Jeva ohsiha 2017", "dropdown_menu")
    +nav_item("/") Index
  .col-xs-12.col-sm-6.col-lg-8
    table.table.table-bordered
      tbody
        each t, i in json.items
          tr
            td.alert-info
              a(href=t.url) #{t.title}
          tr
            td.alert-success
                !{t.description}
          tr
            td
              - if (i == 6)
                - break;
  .col-xs-6.col-lg-4
    - if (!user)
      p Login to write comment
      +a-btn-primary("/auth/google") Google login
    - else
      p Logged in as #{user.google.name}
      +a-btn-danger("/logout") Logout
      br
      br
      p Send message using the name from your login
      form(action='/comment', method='post')
        p="Message"
        input(type="text", name="comment")
        p
        input(type="submit", value="Send")
    br
    br
    p Showing 10 last comments
    table.table.table-bordered
      each t, i in comments
        tbody
          tr
            td.alert-success= t.author
            td.alert-success= t.date.toDateString()
          tr
            td.alert-warning(colspan='2')= t.comment
          - if (user)
            tr
              td(colspan='2')
                a(href="/delete?id=#{t.id}")
                  +btn-danger("Delete")
