extends ../node_modules/jade-bootstrap/_bootstrap.jade
block body
    +navbar("test", "dropdown_menu")
        +nav_item("/") Index
        +nav_item("/test") Test
    .col-md-6
        .container
            table.table.table-bordered
                tbody
                    each t, i in json.items
                        tr
                            td
                                a(href=t.url) #{t.title}
                        tr
                            td 
                                !{t.description}
                        tr
                            td
                        - if (i == 6)
                            - break;
    .col-md-6
        .container
            p= "Öriöriöriöri"
            p= "Tänne tulee viestipalsta johon kirjaudutaan google tunnareilla"
            table.table.table-bordered
                tbody
                    tr
                        td= "Viestin lähettäjä - Aika"
                    tr
                        td= "Viesti. Öriöriöriöriöriöriöri"
                    br